<launch>
<node name="notilt" pkg="tf" type="static_transform_publisher" args="0 0 0.4 0 0 0 base_link camera_depth_frame_notilt 100" />
<group>
	<node name="depthimagetolaserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
		<remap from="image" to="/camera/depth/image"/>
		<param name="output_frame_id" type="str" value="camera_depth_frame_notilt"/>
		<!-- <param name="range_max" type="double" value="8.0"/> -->
		<!-- <param name="scan_time" type="double" value="0.1"/> -->
		<param name="scan_height" type="int" value="1"/>
	</node>
</group>

</launch>
